<div class="container-fluid">
  <div class="row w-100">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-center">
            <li class="nav-item">
              各種申請 >>>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">準備状況報告</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">明るいニュース</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">募集商品予算調整</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">実績修正</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="font-size-change">
        <button class="btn btn-info" type="button" onclick="smaller()">小さく</button>
        <button class="btn btn-secondary" type="button" onclick="normal()">標準</button>
        <button class="btn btn-success" type="button" onclick="larger()">大きく</button>
      </div>
    </div>
  </div>
</div>
