@charset "UTF-8";

/*全体の設定
==================================================*/

/* body{
    font-family: sans-serif;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-size: 16px;
    color:rgb(7, 7, 34);
    background-color: rgb(244, 247, 255);

    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template:
        "...... ...... ...... ...... ......" 5px
        "header header header header header" 130px
        "...... ...... ...... ...... ......" 20px
        "...... aside  ...... main   ......" 1fr
        "...... ...... ...... ...... ......" 10px
        "footer footer footer footer footer" 100px 
        / 50px  300px  40px   1fr    50px ;
}

header {
    grid-area: header;
}


main {
    background-color: rgb(255, 255, 255);
    grid-area: main;
}

aside {
    background-color: rgb(255, 255, 255);
    grid-area: aside;
}

footer {
    background-color: rgb(44, 44, 44);
    grid-area: footer;
} */


body{
    font-family: sans-serif;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-size: 16px;
    color:rgb(7, 7, 34);
    background-color: rgb(244, 247, 255);

    margin: 0 auto;
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 5px 130px 20px 1fr 10px 100px;
    -ms-grid-columns: 50px 300px 40px 1fr 50px;
        grid-template:
        "...... ...... ...... ...... ......" 5px
        "header header header header header" 130px
        "...... ...... ...... ...... ......" 20px
        "...... aside  ...... main   ......" 1fr
        "...... ...... ...... ...... ......" 10px
        "footer footer footer footer footer" 100px 
        / 50px  300px  40px   1fr    50px ;
}

header {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: header;
}


main {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    background-color: rgb(255, 255, 255);
    grid-area: main;
}

aside {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    background-color: rgb(255, 255, 255);
    grid-area: aside;
}

footer {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    background-color: rgb(44, 44, 44);
    grid-area: footer;
}







/* TOPへ戻るボタンの設定　参考：https://rilaks.jp/blog/pagetop-css/
=================================================================================*/
html {
    scroll-behavior: smooth;
}

.pagetop {
    height: 80px;
    width: 80px;
    position: fixed;
    left : 80px;
    bottom: 30px;
    background: rgb(30, 45, 94);
    opacity: 0.6;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
}

.pagetop__arrow {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    transform: 0.3S;
}


.pagetop:hover, .pagetop:hover .pagetop__arrow {
    background-color: #fc8130;
    opacity: 1;
}

/*全体：リンクの設定
==================================================*/

a {
    color: rgb(9, 6, 88);  
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


/*ヘッダー
==================================================*/
header{
    font-weight: bold;
    width: 100%;
    background-color: #fff;
    display: block;
}

header .menu {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid  #ffb85b;
}

.flex-nav {
    font-size: 14px;
    display:flex;
    text-align: center;
    justify-content:space-around;
    list-style:none;
    padding: 0 10px ;
}

.menu ul li a:hover{
    display: block;
    color: #df7803;
    padding: 0;
}

.menu ul li a{
    display:block;
    text-decoration:none;
}


.title{
    color: white;
    font-size: 30px;
    background-color: #fdac31;
    background-image: linear-gradient(180deg, #f5c541 0%, #fb9912 50%, #fdde88 100%);
    padding: 10px;
    margin-top: 40px;/*タイトルの上に表示させたい場合ここを拡張*/
    width: 100%;
    text-align: left;
    padding-left: 50px;    
}


/*アンダーラインの設定　参考：https://diwao.com/2017/06/css-hover-underline-animation.html
===========================================*/

.underline {
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
  }
  
  .underline::after {
    background-color:rgb(15, 13, 112);
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transition: .3s all;
    width: 0;
  }

  .underline:hover::after {
    width: 100%;
  }



/*main
===================================================================================*/

main {
    padding: 10px 20px;
    color: rgb(15, 13, 112);
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(15, 13, 112);
    padding: 1rem 2rem;
    margin: 30px 20px;
     border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(231, 231, 231, 0.26); 
    position: relative;      
}

  
 /* h2:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    background-image: -webkit-gradient(linear, left top, right top, from(#30a3d0), to(#330867));
    background-image: -webkit-linear-gradient(right, #30a3d0 0%, #330867 35%, #30a3d0 70%, #330867 100%);
    background-image: linear-gradient(to left, #30a3d0 0%,#330867 35%, #30a3d0 70%, #330867 100%));
  } */

  h2:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    background-image: -webkit-gradient(linear, right top, left top, from(#30a3d0),color-stop(35%, #330867), color-stop(70%, #30a3d0), to(#330867)));
    background-image: -o-linear-gradient(right, #30a3d0 0%,#330867 35%, #30a3d0 70%, #330867 100%));
    background-image: linear-gradient(to left, #30a3d0 0%,#330867 35%, #30a3d0 70%, #330867 100%));
  }
    



  h2:before {
    top: 0;
  }
  
  h2:after {
    bottom: 0;
  }

/*main .news-item-list  の設定 （タイトル→img→説明分→img　4タイルのデザイン）
===============================================================================*/

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 20px;
    margin-left: 10px;
    
  }
  .item {
    width: 21%;
    padding: 0 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px ;
    box-sizing: border-box;
    box-shadow: .5px .5px 1px .5px rgba(69, 69, 69, 0.3);
    margin: 15px 20px;    
  }

  .item-image {
    margin-bottom: 0 ;
  }
  .item-image img {
    width: 100%;
    height: 100px;
    vertical-align: bottom;
  }

.item-text {
    display: flex;
    justify-content: space-between;
}

.item-text img {
    width: 30px ;
    height: 35px;
    margin: 15px ;
}

.item-list {
    transition : 0.2s;
}

.item-list :hover {
    transform: scale(1.02);
}

.item-list .frequncy {
    background: linear-gradient(transparent 60%, rgb(255, 237, 137) 60%);
}


/*main .item-list2  の設定
===============================================================================*/

.item-list2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 20px;
    margin-left: auto;
  }


  .item-text2 {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}   
  .item2 {
    display: flex;
    flex-direction: row ;
    width: 45% ;
    padding: 0.5em ;
    border: 1px solid #ccc;
    border-radius: 5px ;
    box-sizing: border-box;
    box-shadow: .5px .5px 1px .5px rgba(69, 69, 69, 0.3);
    margin: 0 0 30px 0;
  }

  .item-image2 {
    margin-bottom: 0 ;
  }
  .item-image2 img {
    width: 100%;
    height: 150px ;
    align-content: center;
  }
.item-title2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #9899b6;

}


.item-text2 img {
    display: inline;
    align-self: center;    
    width: 40px ;
    height: 45px;
    margin-right: 1em;

}

.item-list2 {
    transition : 0.2s;
}

.item-list2 :hover {
    transform: scale(1.01);
}




/*ここから絞り込み式flex-box 参考：https://webutubutu.com/webdesign/5783
===============================================================================*/

input[name='refine-btn'] {
    position: relative;
    display: none;
  }

  input[name='refine-btn']:checked + label {
    color: #fff;
    font-weight: bold;
    background-color:  rgb(15, 13, 112);
  }

  #refine-1:checked ~ .refine-teims:not(.syouhin),
  #refine-2:checked ~ .refine-teims:not(.jimurenraku),
  #refine-3:checked ~ .refine-teims:not(.konpura),
  #refine-4:checked ~ .refine-teims:not(.system) {
    display: none;
  }

.refine {
    display: flex;
    flex-wrap: wrap;
    transition:box-shadow 0.2s;
    font-weight: bold;
  }

  .refine-btn, .refine-teims {
    box-sizing: border-box;
    margin: 5px 5px 20px 25px;
    border-style: solid;
    border-width: 1px;
  }

  .refine-btn {
    font-size: 18px;
    width: calc(18% - 35px);
    padding: 5px 50px;
    margin: 15px 0 15px 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    border-color: #b5b8d1;
  }

  .refine time {
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    color: #f3811f;
  }

  .refine-teims {
    position: relative;
    width: calc(22% - 20px);
    padding: 10px 5px;
    border-color: #b5b8d1;
    border-radius: 5px;
  }

  .refine :hover {
    border: 1px solid rgba(66, 60, 248, 0.452);
    box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
}

  .refine-teims :hover {
    border: none;
    box-shadow: none ;
  }

  .refine-teims p {
    margin: 0 5px 1.5em 5px;
  }

  .refine-tag {
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    display: block;
    width: calc(100% - 10px);
    text-align: center;
    background-color: #d6dff9b8;
    border-radius: 5px;
  }




/*ここから ニュースリスト形式の設定
===============================================================================*/

/* .news-list{
    list-style: none outside;
    font-weight: bold;
    margin: 0 30px 0 30px;
    padding: 0;
}

.news-list .news-item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: rgb(15, 13, 112);
    border-bottom: 1px solid #CCC;
    padding: 15px 10px;
  }
  .news-list .news-item:first-child a{
    border-top: 1px solid #CCC;
  }
  .news-list .news-item .date{
    margin: 0;
    text-align: center;
    min-width: 100px;
    font-size: 14px;
    color: rgb(255 138 37) ;
    padding: 0 20px 0 10px;
  }
  .news-list .news-item .category{
    margin: 0;
    min-width: 100px;
    padding: 0 15px 0 0;
  }
  .news-list .news-item .category span{
    background: rgb(15, 13, 112);
    color: #FFF;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1;

  }
  .news-list .news-item .news-title{
    margin: 0;
    width: 100%;
  }
  .news-list .news-item a:hover .news-title{
    color:  rgb(40, 43, 255);
}

.news-list a:hover {
    background-color:  rgb(244, 247, 255) ;
} */


.news-list{
    list-style: none outside;
    font-weight: bold;
    margin: 0 30px 0 30px;
    padding: 0;
}

.news-list .news-item a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-decoration: none;
    color: rgb(15, 13, 112);
    border-bottom: 1px solid #CCC;
    padding: 15px 10px;
  }
  .news-list .news-item:first-child a{
    border-top: 1px solid #CCC;
  }
  .news-list .news-item .date{
    margin: 0;
    text-align: center;
    min-width: 100px;
    font-size: 14px;
    color: rgb(255 138 37) ;
    padding: 0 20px 0 10px;
  }
  .news-list .news-item .category{
    margin: 0;
    min-width: 100px;
    padding: 0 15px 0 0;
  }
  .news-list .news-item .category span{
    background: rgb(15, 13, 112);
    color: #FFF;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1;

  }
  .news-list .news-item .news-title{
    margin: 0;
    width: 100%;
  }
  .news-list .news-item a:hover .news-title{
    color:  rgb(40, 43, 255);
}

.news-list a:hover {
    background-color:  rgb(244, 247, 255) ;
}







/*aside　の設定
===============================================================================*/
aside li {
    border-bottom: 1px dashed rgb(131, 131, 136);
    padding: 3px;
    margin: 5px 20px 5px -10px;

}

.aside-1 h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(15, 13, 112);
    padding: 0 10px;
    margin-bottom: 0;
    border-bottom: 2px solid rgb(19, 17, 131);
}

.aside-1 {
    margin: 10px 12px 40px 12px;
}

.aside-2 h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(15, 13, 112);
    padding: 0 10px ;
    margin-bottom: 0;
    border-bottom: 2px solid rgb(255, 187, 109);
}

.aside-2 {
    margin: 10px 7px 40px 7px;
}


/*aside list-style
==============================================================================*/

.aside-1 ul{
    font-size: 14px;
    line-height: 1.5;
    list-style-position: outside;
    list-style: none;
  }
 
.aside-1  li + li{
    margin-top: 5px;
  }

.aside-1 li{
position: relative;

}

.aside-1 li:before {
content: "";
position: absolute;
top: .7em;
left: -20px;
width: 10px;
height: 10px;
background-color: #2d3bff;
border-radius: 50%;

}




/*aside underline-2 の設定
================================================*/

.underline-2 {
    position: relative;
  }
  
  .underline-2::after {
    border-bottom: 1px solid rgb(15, 13, 112);
    bottom: -1px;
    content: '';
    display: block;
    height: 3px;
    transform: left;
    position: absolute;
    transition: .1s all;
    width: 0;
  }
  
  .underline-2:hover::after {
    width: 100%;
  }





/*footer
==============================================================================*/
footer {
    width: 100%;
    height: 100px;
    padding-top: 45px;
    margin: 70px 0 0 0;
    text-align: center;
    color: #fff;
    background-color: #020202;
}

/*ここから2ページ目のcss
================================================================================*/


