@charset "utf-8";

html {
  height: 100%; /* フッターが上に上がってきちゃう対策用 */
}
body {
  height: 100%; /* フッターが上に上がってきちゃう対策用 */
}
footer {
  position: sticky; /* フッターが上に上がってきちゃう対策用 */
  top: 100vh; /* フッターが上に上がってきちゃう対策用 */
  width: 100%; /* フッターが上に上がってきちゃう対策用 */
  z-index: -1; /* フッターが上に上がってきちゃう対策用 */
}